h1 {
  font: Roboto;
  color: rgb(60 119 144);
}

Button {
  float: right;
  background-color:rgb(60 119 144);
  padding:  5px;
  text-decoration:none;
  color: rgb(230 254 249);
  margin:100 auto;
  flex-direction: column;;
}

Button:hover{
  background-color:rgb(230 254 249);
  color:rgb(60 119 144);
  border-radius: 3px;
  border-color: rgb(60 119 144);
  font-family:Roboto;


}

button:visited {color: black;

}

img{
  margin-top: 100px;
  display: flex;
      flex-direction: column;
      border-style: solid;
      position: relative;
      width: 100%;
}
